[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
compose-flow = "*"

[packages]
django = "*"
djangorestframework = "*"
dj-database-url = "*"
django-extensions = "*"
django-fsm = "*"
django-simple-history = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
